.wrapper {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}
.side-menu {
  flex-basis: 200px;
}
.threads-wrapper {
  flex-grow: 1;
}
.hide-menu-button,
.hide-menu-button:active,
.hide-menu-button:focus {
  background-color: transparent;
  color: #ff6600;
  border: none;
  outline: none;
  cursor: pointer;
}
