body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: #ff6600;
}
a:hover {
  color: #813604;
  text-decoration: none;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  border: 1px solid lightgray;
  background-color: #f5f5f5;
  padding: 3px;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
  background-color: white;
  outline: none;
}
button,
button:active,
button:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid lightgray;
}
label {
  margin: 0;
}
