.style-button {
  padding: 0;
  border: none;
}
.redactor__main-field {
  width: 450px;
  height: 200px;
  resize: both;

  border: 1px solid lightgrey;
}
.redactor__main-field:active,
.redactor__main-field:focus {
  outline: none;
}
.redactor {
  margin: 0 auto;
  max-width: 450px;
}
.redactor-wrapper {
  margin-top: 30px;
}
.redactor__input-group {
  display: flex;
}
.redactor__name-input,
.redactor__options-input {
  flex-grow: 1;
}
.redactor__name-input {
  margin: 0 2px;
}
.redactor__input-group,
.redactor__theme-input {
  width: 450px;
  margin: 0 auto 2px;
}
.redactor__theme-input {
  display: block;
}
.redactor__button {
  background: #f5f5f5;
}
.option-box:nth-of-type(2),
.option-box:nth-of-type(3) {
  margin-left: 10px;
}
.option-box input {
  margin-right: 5px;
}
.redactor__options {
  margin-top: 5px;
}
.option-box {
  display: inline-flex;
  align-items: center;
}
.redactor__limits {
  font-size: 11px;
}
.dropbox {
  cursor: pointer;
  color: lightgray;
  border: 2px dashed lightgray;
  text-align: center;
  height: 50px;
  font-size: 20px;
  padding: 9px;
}
